# Dependencies
node_modules/
src-tauri/target/
src-tauri/bundler/
src-tauri/icons/
# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db